.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-top: 3px solid $goldColor;
}

.footer-logo {
  width: 90px;
  height: 35px;
}

.wrapper-copyright {
  width: 70%;
  text-align: right;
}

.copyright {
  @include text-color();
  font-size: 0.7rem;
  line-height: 30px;
  letter-spacing: 0.1rem;
}