@media only screen and (max-width: 1440px) {
  .width {
    max-width: 1100px;
  }

  img {
    width: 120px;
  }

  .menu {
    width: 67%;
    font-size: 2.2rem;
  }

  .pictures {
    width: 40%;
    height: 30%;
  }

  .open-text {
    width: 45%;
    font-size: 0.7rem;
  }

  .open-text:hover {
    font-size: 0.8rem;
  }

  .text-technology {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .free-time::after {
    @include after(40%, 0.1rem, 73%);
  }

  .more-btn {
    width: 13%;
  }
}

@media only screen and (max-width: 1366px) {
  .background-slider {
    left: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  .width {
    max-width: 950px;
  }

  img {
    width: 100px;
    height: 40px;
  }

  .menu {
    font-size: 1.8rem;
  }

  .programing-picture {
    position: absolute;
    top: 8%;
    left: 18%;
    width: 50%;
    height: 40%;
  }

  .name {
    font-size: 5.2rem;
    letter-spacing: 0.3rem;
  }

  .work {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }

  .main-page::after {
    @include after(80%, 0.2rem, -50%);
  }

  .about-me::after {
    @include after(80%, 4px, 12%);
  }

  .me {
    max-width: 90%;
    margin: 15px auto;
    padding: 10px 175px;
  }

  .text-about-me {
    font-size: 1.3rem;
  }

  .text-about-me::after {
    @include after(40%, 0.1rem, 73%);
    margin-top: 15px;
  }

  .pictures {
    width: 35%;
    height: 25%;
  }

  .open-text {
    font-size: 0.55rem;
  }

  .open-text:hover {
    font-size: 0.6rem;
  }

  .text-technology {
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  .free-time {
    margin: 30px 0;
  }

  .free-time::after {
    @include after(55%, 0.1rem, 43%);
  }

  .title-slider {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .slider-text {
    font-size: 1.8rem;
  }

  .my-projects::after {
    @include after(40%, 0.1rem, 77%);
  }

  .link-project {
    max-width: 250px;
    max-height: 150px;
    border: 3px solid $goldColor;
  }

  .img-project {
    width: 250px;
    height: 150px;
  }

  .name-project {
    font-size: 1.2rem;
  }

  .move-page {
    font-size: 0.9rem;

  }

  .contact-me {
    font-size: 3.7rem;
  }

  .data {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1180px) {
  .pictures {
    width: 80%;
    height: 40%;
  }

  .google {
    width: 60%;
  }

  .open-text {
    width: 60%;
    font-size: 0.9rem;
  }

  .open-text:hover {
    font-size: 1rem;
  }

  .more-btn {
    width: 20%;
  }
}

@media only screen and (max-width: 1024px) {
  .width {
    max-width: 800px;
  }

  .menu {
    font-size: 1.5rem;
  }

  .name {
    font-size: 4.5rem;
  }

  .work {
    font-size: 2rem;
  }

  .short-about-me {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .short-about-me::after {
    @include after(65%, 0.1rem, 28%);
  }

  .text-about-me {
    font-size: 1.2rem;
  }

  .text-about-me::after {
    @include after(45%, 0.1rem, 60%);
    margin-top: 20px;
  }

  .head-text::after {
    @include after(30%, 0.1rem, 115%);
  }

  .main-header {
    font-size: 2.2rem;
  }

  .second-header {
    font-size: 1.3rem;
  }

  .all-pictures {
    display: flex;
    flex-direction: column;
    justify-content: none;
    min-height: 50vh;
  }

  .col {
    margin-bottom: 30px;
  }

  .pictures {
    width: 30%;
    height: 20%;
    margin: 20px auto 60px auto;
  }

  .google {
    width: 20%;
    height: 15%;
  }

  .open-text {
    width: 20%;
    font-size: 0.8rem;
  }

  .open-text:hover {
    font-size: 0.9rem;
  }

  .text-technology {
    max-width: 70%;
    margin-bottom: 6px;
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .free-time {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }

  .section-slider {
    height: 35vh;
  }

  .background-slider {
    left: 20px;
  }

  .slider-text {
    font-size: 1.7rem;
  }

  .contact-circle {
    width: 70px;
    height: 70px;
  }

  .icon {
    font-size: 2.5rem;
  }

  .contact-data {
    line-height: 70px;
  }

  .data {
    font-size: 1.3rem;
  }

  .footer {
    padding: 15px;
  }

  .footer-logo {
    width: 75px;
    height: 25px;
  }

  .copyright {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width: 820px) {
  .width {
    width: 100%;
  }

  header {
    padding: 20px 0;
  }

  img {
    width: 150px;
    height: 50px;
    margin: 20px 0 0 30px;
  }

  .burger {
    display: block;
  }

  .burger.active-burger .line:first-child {
    transform: translateY(-300px);
  }

  .burger.active-burger .line:nth-child(2) {
    transform: rotate(-410deg) translateY(12px);
  }

  .burger.active-burger .line:nth-child(3) {
    transform: rotate(-311deg) translateY(-15px);
  }

  .menu {
    position: absolute;
    flex-direction: column;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 90vh;
    background: $backgroundMenuHamburger;
    text-align: center;
    margin: 0;
    padding: 2rem;
    transform: translate(100%);
    transition: .3s linear;
    z-index: 3;
  }

  li {
    flex-basis: 100%;
    line-height: 250px;
    border-bottom: 1px solid $lightGoldColor;
    border-radius: 20px;
  }

  .text-menu {
    font-size: 3rem;
    padding: 30px;
  }

  .line {
    width: 3rem;
    height: 0.2rem;
    background: $lightGoldColor;
    margin: 1rem 3rem;
    transition: .3s linear;
  }

  .active-burger {
    transform: translate(0%);
  }

  .programing-picture {
    top: 5%;
    left: 12%;
    width: 70%;
    height: 55%;
  }

  .name {
    @include center(65%, 50%, -50%, 0);
    font-size: 4.2rem;
    letter-spacing: 0.2rem;
  }

  .work {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }

  .short-about-me {
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }

  .short-about-me::after {
    @include after(70%, 0.2rem, 20%);
  }

  .text-about-me {
    padding: 15px 0;
    font-size: 1.3rem;
  }

  .text-about-me::after {
    @include after(45%, 0.1rem, 60%);
    margin-top: 20px;
  }

  .main-header {
    font-size: 2.8rem;
    letter-spacing: 1px;
  }

  .second-header {
    font-size: 1.7rem;
    letter-spacing: 0;
  }

  .pictures {
    width: 50%;
  }

  .google {
    width: 30%;
  }

  .open-text {
    width: 30%;
    padding: 15px 20px;
    font-size: 1.2rem;
  }

  .text-technology {
    font-size: 2rem;
  }

  .more-projects {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 768px) {

  .open-text {
    padding: 10px 20px;
  }

  .container-project {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 430px) {
  img {
    width: 100px;
    height: 30px;
  }

  .line {
    width: 2.5rem;
    height: 0.2rem;
    background: $lightGoldColor;
    margin: .7rem 2.5rem;
    transition: .3s linear;
  }

  .burger.active-burger .line:nth-child(2) {
    transform: rotate(-415deg) translateY(12px);
  }

  .burger.active-burger .line:nth-child(3) {
    transform: rotate(-305deg) translateY(-13px);
  }

  .menu {
    top: 14vh;
    height: 86vh;
    font-size: 1rem;
  }

  li {
    line-height: 150px;
  }

  .text-menu {
    font-size: 2rem;
  }

  .programing-picture {
    height: 40%;
  }

  .name {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .work {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .me {
    box-sizing: content-box;
    padding: 0;
    text-align: center
  }

  .short-about-me {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  .short-about-me::after {
    @include after(55%, 0.1rem, 40%);
  }

  .text-about-me {
    max-width: 80vw;
    font-size: 1rem;
  }

  .text-about-me::after {
    @include after(30%, 0.1rem, 120%);
    margin-top: 20px;
  }

  .main-header {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .second-header {
    font-size: 1.3rem;
    letter-spacing: 0;
  }

  .open-text {
    font-size: 0.65rem;
  }

  .open-text:hover {
    font-size: 0.65rem;
  }

  .text-technology {
    font-size: 1.4rem;
  }

  .free-time {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }

  .free-time::after {
    @include after(40%, 0.1rem, 75%);
  }

  .section-slider {
    height: 25vh;
  }

  .background-slider {
    left: 10px;
  }

  .slider {
    left: 10px;
  }

  .title-slider {
    font-size: 2rem;
  }

  .slider-text {
    font-size: 1rem;
  }

  .more-btn {
    width: 27%;
  }

  .fa-angle-right {
    font-size: 2.5rem;
  }

  .fa-angle-left {
    font-size: 2.5rem;
  }

  .dots span {
    width: 4px;
    height: 4px;
  }

  .contact-me {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }

  .contact-me::after {
    @include after(50%, 0.1rem, 50%);
    margin: 0;
  }

  .contact-border {
    width: 100%;
    padding: 10px;
  }

  .contact-circle {
    width: 60px;
    height: 60px;
  }

  .icon {
    font-size: 1.8rem;
  }

  .contact-data {
    width: 60%;
    line-height: 60px;
  }

  .data {
    font-size: .7rem;
  }

  .my-projects {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

  .my-projects::after {
    @include after(65%, 0.1rem, 28%);
    margin: 8px 0 40px 0;
  }

  .footer {
    padding: 0;
  }

  .footer-logo {
    width: 60px;
    height: 20px;
    margin: 17px 0 0 10px;
  }

  .copyright {
    font-size: 0.5rem;
    line-height: 50px;
  }
}

@media only screen and (max-width: 375px) {

  .main-page {
    height: 85vh;
  }

  .name {
    @include center(60%, 50%, -50%, 0);
    font-size: 2.2rem;
  }

  .work {
    @include center(70%, 50%, -50%, 0);
    font-size: 1.2rem;
  }

  .main-header {
    font-size: 1.7rem;
  }

  .second-header {
    font-size: 1rem;
  }

  .open-text {
    width: 40%;
    font-size: 0.7rem;
  }

  .text-technology {
    font-size: 1.3rem;
  }

  .free-time {
    font-size: 1.1rem;
  }

  .free-time::after {
    @include after(65%, 0.1rem, 25%);
    margin-top: 7px;
  }

  .my-projects {
    font-size: 2rem;
  }

  .contact-circle {
    width: 55px;
    height: 55px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .contact-data {
    width: 70%;
    padding-right: 15px;
  }

  .data {
    font-size: .7rem;
  }
}

@media only screen and (max-width: 320px) {

  header {
    border-bottom: 3px solid $goldColor;
  }

  img {
    width: 70px;
    height: 25px;
    margin-left: 15px;
  }

  .line {
    width: 2.5rem;
    margin: .6rem 2rem;
  }

  .menu {
    top: 13vh;
    height: 87vh;
  }

  .programing-picture {
    top: 7%;
    left: 5%;
    width: 75%;
    height: 55%;
  }

  .name {
    @include center(75%, 50%, -50%, 0);
    font-size: 1.8rem;
  }

  .work {
    @include center(82%, 50%, -50%, 0);
    font-size: 1rem;
  }

  .head-text::after {
    @include after(50%, 0.1rem, 50%);
  }

  .main-header {
    font-size: 1.5rem;
  }

  .open-text {
    width: 45%;
    font-size: 0.7rem;
  }

  .more-btn {
    width: 38%;
    font-size: 0.7rem;
  }

  .dots span {
    margin: 0 10px;
  }

  .my-projects {
    font-size: 1.8rem;
  }
}