.projects::after {
  @include after(75%, 0.2rem, 20%);
  margin: 5px 0 40px 0;
}

.my-projects {
  @include text-color();
  text-align: center;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}

.my-projects::after {
  @include after(35%, 0.2rem, 90%);
  margin: 5px 0 40px 0;
}

.main-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-project {
  flex-basis: 33%;
  text-align: center;
}

.link-project {
  position: relative;
  display: inline-block;
  max-width: 300px;
  max-height: 200px;
  border: 3px solid $goldColor;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.img-project {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.name-project {
  @include text-color;
  font-size: 1.4rem;
  margin: 10px 0 50px 0;
}

.name-project::after {
  @include after(55%, 0.1rem, 40%);
  margin: 3px 0 40px 0;
}

.after-one::after {
  width: 30%;
  transform: translate(117%);
}

.after-five::after {
  width: 38%;
  transform: translate(80%);
}

.after-six::after {
  width: 60%;
  transform: translate(35%);
}

.more-projects {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 35px;
  font-size: 0.9rem;
  color: $blackColor;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 35px auto;
  border: 2px solid $blackColor;
  background: $textColor;
  border-radius: 20px;
  transition: 0.2s linear;
}

.more-projects:hover {
  background: $hoverTextColor;
  font-size: 1rem;
}

.move-page {
  @include center(60%, 50%, -50%, -50%);
  @include text-color();
  font-size: 1.1rem;
  font-weight: bold;
  z-index: 2;
}

.move-page::after {
  @include after(80%, 0.1rem, 15%);
  margin: 5px 0 40px 0;
}